/* importing variable css */
@import url("./partials/variable.css");
/* importing global css */
@import url("./partials/global.css");
/* importing navbar css */
@import url("./partials/navbar.css");



/* ! HERO STYLES */
/* ! ============================ */
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../assets/backgrounds/hero-back.jpg") center no-repeat;
    background-size: cover;
    color: white;
    padding: 0;
}
.hero:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2;
}


/* wrapper */
.hero .content-wrapper{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hero .content-wrapper *{
    /* cursor: grab; */
    clear:both
}

.hero .content-wrapper h4{
    font-family: var(--lobster);
    font-size: 2rem;
}

.hero .content-wrapper h1{
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
}
.hero .content-wrapper p{
    font-family: var(--poppins);
    font-size: 1.5rem;
}

.hero .content-wrapper .gravity-btn .btn{
    color: white;
    border: none;
    border-radius: 50px;
    padding: 1rem 2rem;
    cursor: pointer !important;
    background: var(--gradient-rgb);
    background: var(--gradient);
    box-shadow: var(--box-shadow);
    font-weight: bold;
}
.hero .content-wrapper .gravity-btn .btn.pump{
    position: relative;
    z-index: 100;
}
.hero .content-wrapper .gravity-btn .btn.pump:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid var(--pink-color);
    animation: pump 1s linear infinite;
}
.hero .content-wrapper .gravity-btn .btn.pump:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid var(--purple-color);
    animation: pump1 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes pump{
    0%{
        width: 100%;
        height: 100%;
    }
    100%{
        width: calc(100% + 30px);
        height: calc(100% + 30px);
        opacity: 0;
    }
}
@keyframes pump1{
    0%{
        width: 100%;
        height: 100%;
    }
    100%{
        width: calc(100% + 30px);
        height: calc(100% + 30px);
        opacity: 0;
    }
}

/* styling graphics */
.hero .planet{
    position: absolute;
}
.hero .planet.planet1{
    width: 5%;
    top: -30%;
    left: 90%;
}
.hero .planet.planet2{
    width: 10%;
    top: -15%;
    left: 20%;
}
.hero .planet.planet5{
    width: 5%;
    top: -30%;
    left: 25%;
}
.hero .planet.planet6{
    width: 10%;
    top: -15%;
    left: 40%;
}
.hero .planet.planet8{
    width: 5%;
    top: -30%;
    left: 60%;
}
.hero .planet.planet9{
    width: 10%;
    top: -15%;
    left: 90%;
}

.hero .planet.planet11{
    position: absolute;
    width: 20%;
    bottom: 0;
    left: 5%;
}
.hero .planet.planet7{
    position: absolute;
    width: 10%;
    top: 20%;
    right: 5%;
}
.hero .planet.planet10{
    position: absolute;
    width: 10%;
    top:2%;
    left: 2%;
}
.hero .planet.planet3{
    position: absolute;
    width: 5%;
    top:20%;
    left: 40%;
}
.hero .planet.planet4{
    position: absolute;
    width: 10%;
    bottom:15%;
    right: 30%;
}

/* ! HERO STYLES */
/* ! ============================ */


/* ! ABOUT ME STYLES */
/* ! ============================ */
.about-me{
    position: relative;
    min-height: 100vh;
}
.about-me .about-img{
    position: absolute;
    top: -100vh;
    right: 0;
    width: 50%;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: 1s ease;
}
.about-me.show .about-img{
    visibility: visible;
    opacity: 1;
    top: 0;
}

/* content */
.about-me .content{
    position: relative;
}

/* heading */
.heading h1{
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--blue-color);
    font-size: 3rem;
    text-shadow: 3px 3px var(--gray-color);
}
.about-me .para{
    color: var(--black-color3);
}

/* education */
.about-me .sub-heading{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--pink-color);
    margin: 0.5rem 0rem;
}
.about-me .education{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.about-me .education .edu{
    flex: 1;
    background: rgba(255, 41, 162, 0.05);
    padding: 1rem;
}
.about-me .education .edu:not(:first-child){
    border-left: 2px dashed var(--pink-color);
}
.about-me .education .degree{
    font-family: var(--poppins);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1rem;
    margin: 0;
}
.about-me .education .year{
    color: var(--purple-color);
    font-size: 0.8rem;
    margin: 0;
    opacity: 0.4;
}
.about-me .education hr{
    margin: 5px 0;
    width: 20px;
    height: 3px;
    background: var(--pink-color);
}
.about-me .education .stream,
.about-me .education .institute{
    font-size: 0.9rem;
    margin: 0;
}

/* buttons */
.about-me .buttons{
    padding-top: 3rem;
}
.primary-button,
.secondary-button{
    border: 1px solid;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    font-family: var(--poppins);
    font-size: 0.8rem;
    text-transform: uppercase;
    pointer-events: auto !important;
}
.primary-button{
    border: 2px transparent;
    background: var(--gradient);
    color: white;
    box-shadow: var(--box-shadow) !important;
    font-weight: bold;
}
.primary-button:hover{
    color: var(--white-color);
}
.primary-button:active{
    transform: scale(0.95) !important;
}
.secondary-button{
    padding-top: calc(0.8rem - 2px);
    padding-bottom: calc(0.8rem - 2px);
    border: 2px solid var(--purple-color);
    background: var(--white-color);
    color: var(--purple-color);
}
.secondary-button{
    color: var(--purple-color) !important;
}
.secondary-button:active{
    transform: scale(0.95) !important;
    outline: none;
}
/* ! ABOUT ME STYLES */
/* ! ============================ */

/* ! SKILLS STYLES */
/* ! ============================ */
.skills .card-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.skills .card-wrapper .card{
    margin: 1rem;
    border: none;
    border-radius: 0;
    box-shadow: var(--box-shadow4);
    transform-style: preserve-3d;
    padding-top: 20px;
}
.skills .card-wrapper .card .image{
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
    transform: translateZ(40px);
}
.skills .card-wrapper .skill-wrap{
    padding: 1rem 1.5rem;
    padding-top: 0;
}
.skills .card-wrapper .skill-wrap .skill-heading{
    font-weight: bold;
    text-transform: capitalize;
    color: var(--blue-color);
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1rem;
    line-height: 80%;
}
.skills .card-wrapper .skill-wrap .skill{
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
    position: relative;
}
.skills .card-wrapper .skill-wrap .skill.show{
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
    position: relative;
    display: block;
}
.skills .card-wrapper .skill-wrap .skill span{
    color: var(--blue-color);
    font-size: 0.8rem;
    font-family: var(--poppins);
    opacity: 0.8;
}
.skills .card-wrapper .skill-wrap .skill:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 2px;
    background: var(--gray-color);
}
.skills .card-wrapper .skill-wrap .skill:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    width: 0;
    height: 2.5px;
    border-radius: 100px;
    background: var(--pink-color);
    z-index: 100;
    transition: 2s linear;
}
.skills.show .card-wrapper .skill-wrap .skill.w-10:before{
    width: 10%;
}
.skills.show .card-wrapper .skill-wrap .skill.w-20:before{
    width: 20%;
}
.skills.show .card-wrapper .skill-wrap .skill.w-30:before{
    width: 30%;
}
.skills.show .card-wrapper .skill-wrap .skill.w-40:before{
    width: 40%;
}
.skills.show .card-wrapper .skill-wrap .skill.w-50:before{
    width: 50%;
}
.skills.show .card-wrapper .skill-wrap .skill.w-60:before{
    width: 60%;
}
.skills.show .card-wrapper .skill-wrap .skill.w-70:before{
    width: 70%;
}
.skills.show .card-wrapper .skill-wrap .skill.w-80:before{
    width: 80% !important;
}
.skills.show .card-wrapper .skill-wrap .skill.w-90:before{
    width: 90%;
}
.skills.show .card-wrapper .skill-wrap .skill.w-100:before{
    width: 100%;
}
/* ! SKILLS STYLES */
/* ! ============================ */


/* ! PORTFOLIO STYLES */
/* ! ============================ */
.portfolio{
    position: relative;
}
/* .portfolio:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/backgrounds/portfolio-back.png") center no-repeat;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
    transform: rotateX(180deg);
} */
.portfolio .heading{
    margin-bottom: 4rem;
}
.portfolio .heading div{
    width: 20px;
    height: 40px;
    background: var(--pink-color);
    margin: 0.25rem 1rem;
}
.portfolio .heading div:first-child{
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    animation: animate-left 1s infinite;
}
@keyframes animate-left{
    from{
        margin-right: 1rem;
    }
    to{
        margin-right: 2rem;
    }
}
.portfolio .heading div:last-child{
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    animation: animate-right 1s infinite;
}
@keyframes animate-right{
    from{
        margin-left: 1rem;
    }
    to{
        margin-left: 2rem;
    }
}
.portfolio-slider-wrapper{
    position: relative;
    margin-top: 2rem;
}
.portfolio-slider-wrapper .slider-btn{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.portfolio-slider-wrapper .slider-btn .btn{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.portfolio-slider-wrapper .portfolio-slider{
    max-width: 900px;
    margin: auto;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    position: relative;
    z-index: 1000;
}
.portfolio-slider-wrapper .card{
    border: none;
    padding: 2rem;
}
.portfolio-slider-wrapper .card .image{
    /* box-shadow: var(--box-shadow3); */
}
.portfolio-slider-wrapper .protfolio-heading h2{
    font-family: var(--poppins);
    font-weight: 900;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.portfolio-slider-wrapper .portfolio-description p{
    color: var(--blue-color);
    font-size: 0.9rem;
}
.portfolio-slider-wrapper .btn1,
.portfolio-slider-wrapper .btn2{
    color: var(--black-color);
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dashed;
    margin-right: 1rem;
}
.portfolio-slider-wrapper .btn2{
    color: var(--purple-color);
}
.portfolio .other-items{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 3rem;
}
.portfolio .other-items .card{
    margin: 1rem;
    /* border: 1px solid var(--gray-color) !important; */
    flex: 1;
    border: none;
    border-radius: 0;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
}
.portfolio .other-items .card:after{
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--gradient);
    opacity: 0.1;
    transition: 0.5s ease;
}
.portfolio .other-items .card:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient);
    opacity: 0.5;
}
.portfolio .other-items .card .buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(0);
    text-align: center;
    z-index: 100;
    transition: transform 0.3s ease;
    transition-delay: 0.3s;
}
.portfolio .other-items .card:hover .buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(1);
    text-align: center;
    z-index: 100;
}
.portfolio .other-items .card .buttons a{
    box-shadow: var(--box-shadow2) !important;
}
/* ! PORTFOLIO STYLES */
/* ! ============================ */


/* ! CONTACT STYLES */
/* ! ============================ */

.contact .contact-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.contact .contact-wrapper .image{
    flex: 1;
    margin: 0 1rem;
}
.contact .contact-wrapper .image img{
    height: 100% !important;
}
.contact-form{
    position: relative;
    flex: 1;
    /* background:#eaeaf4; */
    border-radius: 10px;
    padding: 2rem;
    border-radius: 0;
    background: #ffffff;
    /* box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1); */
    box-shadow: var(--box-shadow2);
    margin: 0 1rem;
}
.contact-form .contact-heading{
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--montserrat);
    background:var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    line-height: 100%;
}
.contact-form .contact-para{
    color: var(--blue-color);
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}
.contact-form .form-control{
    border-radius: 3px;
    background: #f8f8f8;
    border: none;
    box-shadow: inset 5px 5px 11px #e3e3ed, 
    inset -5px -5px 11px #f1f1fb !important;
    padding: 1.3rem 1rem !important;
}
.contact-form .form-control::placeholder{
    color: var(--blue-color);
    opacity: 0.3;
    font-size: 0.9rem;
}
.contact-form .primary-button{
    box-shadow: none !important;
}
.contact-form .primary-button i{
    margin-left: 0.25rem;
}
/* ! CONTACT STYLES */
/* ! ============================ */